# Introduction to Machine Learning - Task 1a

Group name: Cbbayes

Team members: mcolomer (mcolomer@student.ethz.ch), pratsink (pratsink@student.ethz.ch) and scastro (scastro@student.ethz.ch)

Spring 2021

## Libraries import

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

## Read input data

In [2]:
path = "../data/"                            ## Select the path to the data file
filename = "train.csv"                 
train_data = pd.read_csv(path+filename)
train_data

      Id         y    x1    x2    x3    x4    x5
0      0 -6.822679  0.02  0.05 -0.09 -0.43 -0.08
1      1 -6.326290 -0.13  0.11 -0.08 -0.29 -0.03
2      2 -9.302728  0.08  0.06 -0.07 -0.41 -0.03
3      3 -7.371893  0.02 -0.12  0.01 -0.43 -0.02
4      4 -6.027647 -0.14 -0.12 -0.08 -0.02 -0.08
..   ...       ...   ...   ...   ...   ...   ...
695  695 -6.147394  0.31 -0.09  0.04 -0.09  0.03
696  696 -6.214899 -0.26 -0.01  0.02 -0.40  0.05
697  697 -6.841341 -0.27 -0.22 -0.01 -0.32 -0.05
698  698 -6.523371  0.19  0.11 -0.05 -0.27 -0.04
699  699 -5.676683 -0.09 -0.09 -0.06 -0.41 -0.06

[700 rows x 7 columns]

## Create new features

In [3]:
# Quadratic features
train_data["phi6"] = train_data["x1"]**2
train_data["phi7"] = train_data["x2"]**2
train_data["phi8"] = train_data["x3"]**2
train_data["phi9"] = train_data["x4"]**2
train_data["phi10"] = train_data["x5"]**2

# Exponential features
train_data["phi11"] = np.exp(train_data["x1"])
train_data["phi12"] = np.exp(train_data["x2"])
train_data["phi13"] = np.exp(train_data["x3"])
train_data["phi14"] = np.exp(train_data["x4"])
train_data["phi15"] = np.exp(train_data["x5"])

# Cosine features
train_data["phi16"] = np.cos(train_data["x1"])
train_data["phi17"] = np.cos(train_data["x2"])
train_data["phi18"] = np.cos(train_data["x3"])
train_data["phi19"] = np.cos(train_data["x4"])
train_data["phi20"] = np.cos(train_data["x5"])
# Constan features

train_data["phi21"] = 1

## Train a linear model and determine the weights of the features

In [5]:
X = train_data.iloc[:, 2:23].values          ## Select the featuers
y = train_data.iloc[:,1].values              ## Select the class labels
reg = LinearRegression().fit(X, y)
coeficients = reg.coef_
pd.DataFrame(coeficients).to_csv("output.csv", index = False, header = False)

In [6]:
print(coeficients)

[   87.19891672   -67.27010868    28.53822965   158.07550392
  -819.69642957   200.04958807  -393.54175642  1953.26216012
  -523.63288817  1518.93422167   -86.60565699    65.34027498
   -30.9921308   -155.77167729   822.10809668   327.109988
  -737.64020339  3890.6703122  -1211.22831197  3799.82175151
     0.        ]